@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Honk&family=Nunito:ital,wght@0,300;0,400;1,500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  background-image: url("../image/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%,-25%);
  background-color: whitesmoke;
  width: 50vw;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
}

.header{
  color: black;
  font-family: 'Handjet', sans-serif;
  font-style: italic;
  padding-top: 2rem;
  z-index: 1;
}


/* INPUT FIELD COMPONENT UI */
.input{
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input-box{
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input-box:focus{
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.7);
  outline: none;
}

.submit-btn{
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius:50px;
  right: 0;
  border: none;
  font-size: 15px;
  background-color: blueviolet;
  color:black;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.submit-btn:active{
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

/* TodoList UI */
.todos{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

/* Single UI */
.todos-single{
  display: flex;
  width: 29%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
}

.todos-text{
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.icon{
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}