@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Honk&family=Nunito:ital,wght@0,300;0,400;1,500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  background-image: url("../image/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%,-25%);
  background-color: whitesmoke;
  width: 50vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 5px;
}

.header{
  position: absolute;
  text-align: center;
  color: black;
  font-family: 'Handjet', sans-serif;
  font-style: italic;
  padding-top: 2rem;
}